@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-general: "General Sans";
  --font-roboto: "Roboto";
  --font-koho: "KoHo";
  --font-amiko: "Amiko";
  --font-segoe: "Segoe UI";
  --font-proxima: 'Proxima Nova Rg', sans-serif;

  /* --color-primary: #1279e0; */
  --color-primary-light: #c8e2ff;

  --color-border: #e8ecf4;
  --color-input: #e8ecf4;
  --color-ring: #0c0d12;
  --color-background: #ffffff;
  --color-foreground: #0c0d12;
  --color-primary: #1279e0;
  --color-primary-foreground: #f8fafc;
  --color-secondary: #ffe499;
  --color-secondary-foreground: #1c1f2a;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #f8fafc;
  --color-muted: #f1f5f9;
  --color-muted-foreground: #64748b;
  --color-accent: #f1f5f9;
  --color-accent-foreground: #1c1f2a;
  --color-popover: #ffffff;
  --color-popover-foreground: #0c0d12;
  --color-card: #ffffff;
  --color-card-foreground: #0c0d12;
}

html,
body {
  @apply bg-white dark:bg-neutral-900;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
button {
  @apply cursor-pointer;
}
.ql-tooltip {
  left: 0 !important;
}
.ql-blank::before {
  @apply !text-neutral-500 dark:!text-neutral-400 font-general text-base;
}
.loader {
  width: 8px;
  height: 8px;
  position: relative;
  border-radius: 9999px;
  background: #fff;
  animation: wave 1s ease-in infinite;
}

@keyframes wave {
 0% {  box-shadow:
  0 0 0 0px rgba(255, 255,255, 1),
  0 0 0 20px rgba(255, 255,255, 0.2),
  0 0 0 40px rgba(255, 255,255, 0.6),
  0 0 0 60px rgba(255, 255,255, 0.4),
  0 0 0 80px #0764ea33;
  }
  100% {  box-shadow:
    0 0 0 80px rgba(255, 255,255, 0),
    0 0 0 60px rgba(255, 255,255, 0.2),
    0 0 0 40px rgba(255, 255,255, 0.4),
    0 0 0 20px rgba(255, 255,255, 0.6),
    0 0 0 0px #0764ea;
  }
}

@plugin 'tailwind-scrollbar' {
  nocompatible: true;
}